.board-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.board {
  position: absolute;

  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);

  width: 400px;
  height: 400px;

  gap: 0;
  z-index: 1;
}

.ship-overlay {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.fleet-layout {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}