.board-wrapper {
  position: relative;
  width: 600px;
  height: 600px;
}

.board {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);

  width: 600px;
  height: 600px;

  gap: 0;
  z-index: 1;
}

.ship-overlay {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.fleet-layout {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}