.cell {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  font-weight: bold;

  margin: none;
  padding: none;

  color: var(--text);
}
