.ship-dock {
  margin-left: 40px;
}

.ship-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ship-card {
  border: 1px solid #ccc;
  padding: 8px;
  cursor: grab;
}

.ship-image {
  width: 150px;
  max-height: 50px;;
  display: block;
}