:root {
  font-family: "Courier New", monospace;
  color: #9dfcb2;
  background-color: #04140d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}

button,
input,
select,
textarea {
  font: inherit;
}